aiohttp
colorthief
pynite
async-timeout
beautifulsoup4
bs4
certifi
cffi
chardet
pyfiglet
clashroyale
git+https://github.com/Rapptz/discord.py@rewrite
openweathermapy
gitdb2
GitPython
pytz
idna
imgurpython
multidict
psutil
pycparser
PyNaCl
requests
six
smmap2
urllib3
websockets
requests
ftfy
yarl
lxml
mtranslate
colorthief
pyparsing
sympy
psutil
emoji
wikipedia
crasync
cr-py
urban-async
safygiphy
